= form_for message, remote: true, authenticity_token: true do |f|
  = f.label :your_message
  = f.text_area :content, class: "form-control text-area", data: { textarea: 'message' }

  = f.hidden_field :chatroom_id, value: chatroom.id
  .mt20= f.submit 'Send', class: 'btn btn-primary', data: { send: 'message' }
