.row
  .col-md-8.col-md-offset-2
    h4#log-in-title Log in
    .auth-form.well
      = form_for(User.new, url: signin_path) do |f|
        = f.label :username
        .input-group
          = f.text_field :username, class: "form-control"
        .actions
          = f.submit "log in", class: "btn btn-primary"
