footer.page-footer.teal
  .footer-copyright
    .container
      .row
        .col.l6.s12
          | Developed by
          a.brown-text.text-lighten-3 href="http://xirukitepe.github.io"  Xiruki
        .col.l3.s12
        .col.l3.s12.text-right
          | Template by
          a.brown-text.text-lighten-3 href="http://materializecss.com"  Materialize
