nav.white role="navigation"
  .nav-wrapper.container
    = link_to root_path, class: 'brand-logo', id: 'logo-container' do
      i.large.material-icons face
    ul.right.hide-on-med-and-down
      - if current_user
        li= link_to 'New Chatroom', new_chatroom_path
        li= link_to 'Chatrooms', chatrooms_path
        li= link_to 'Sign out', signout_path, method: :delete
      - else
        li= link_to 'Sign up', signup_path
        li= link_to 'Sign in', signin_path
    ul#nav-mobile.side-nav
      - if current_user
        li= link_to 'New Chatroom', new_chatroom_path
        li= link_to 'Sign out', signout_path, method: :delete
      - else
        li= link_to 'Sign up', signup_path
        li= link_to 'Sign in', signin_path
    a.button-collapse data-activates="nav-mobile" href="#"
      i.material-icons menu
