.row
  .col-md-8.col-md-offset-2
    h4#log-in-title Sign up
    .auth-form.well
      = form_for(User.new, url: signup_path) do |f|
        = f.label :username
        .input-group
          = f.text_field :username, class: "form-control"
        .actions
          = f.submit "sign up", class: "btn btn-primary"
