.chatroom-form
  = form_for chatroom, remote: true do |f|
    .input-group
      span.input-group-addon Set a topic:
      = f.text_field :topic, class: "form-control"
    = f.submit 'Create', class: 'btn btn-primary', id: 'create-chatroom'
