.row
  .col-md-12.mt20
      h5.mt20 List of Chatrooms
      ul#chatroom-index.mt20
        - if @chatrooms.any?
          = render @chatrooms
        - else
          p Be the first one to make a chatroom!
