.row
  .col-md-12
    h5 Create an Uzap community!
    .well.mt20
      .chatroom-form
        = form_for @chatroom do |f|
          .input-group
            span.input-group-addon Set the topic:
            = f.text_field :topic, class: "form-control"
          = f.submit class: "btn btn-primary", id: "create-chatroom"
