.row.col-md-8.col-md-offset-2
  h4= @chatroom.topic
  .panel.panel-default
    - if @chatroom.messages.any?
      #messages.panel-body
        = render partial: 'messages/message', collection: @chatroom.messages
    - else
      #messages.panel-body.hidden
  = render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}
