#index-banner.parallax-container style='background: #e5fff8;'
  .section.no-pad-bot
    .container
      br/
      br/
      / h1.header.center.teal-text.text-lighten-2 Uzap
      .row.center= image_tag('http://www.enricort.me/wp-content/uploads/2017/08/uzap_fin5.gif')
      .row.center
        - if current_user
          = link_to 'Get Started', chatrooms_path, class: 'download-button btn-large waves-effect waves-light teal lighten-1'
      br/
      br/
  .parallax
    img alt=("Unsplashed background img 1") src="/assets/comp.jpg" /
.container
  .section
    /! Icon Section
    .row
      .col.s12.m4
        .icon-block
          h2.center.brown-text
            i.material-icons group
          h5.center Sign up
          p.light.text-center Create an account to meet new Uzap peeps
      .col.s12.m4
        .icon-block
          h2.center.brown-text
            i.material-icons local_dining
          h5.center Create or Join a chatroom
          p.light.text-center Create your own chatroom or join a chatroom
      .col.s12.m4
        .icon-block
          h2.center.brown-text
            i.material-icons file_download
          h5.center Send a message
          p.light.text-center Type any message to a chatroom
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        h5.header.col.s12.light Make new friends
  .parallax
    img alt=("Unsplashed background img 2") src="/assets/friends.jpg" /
.container
  .section
    .row
      .col.s12.center
        h3
          i.mdi-content-send.brown-text
        h4 Contact Us
        p.text-center.light
          | Send an email to
          | &nbsp;
          = link_to 'xiruki@programmer.net', 'mailto:xiruki@programmer.net'
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        h5.header.col.s12.light Sign up now to make uzap
  .parallax
    img alt=("Unsplashed background img 3") src="/assets/contact.jpg" /
