doctype html
html
  head
    title Uzap
    = csrf_meta_tags
    = action_cable_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  body
    = render 'layouts/shared/navbar'
    .container
      .row
        .col.s12
          .mt10= render 'layouts/shared/alerts'
          = yield
    = render 'layouts/shared/footer'
