doctype html
html
  head
    title Uzap
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'
    = javascript_include_tag 'application'

  body
    = render 'layouts/shared/navbar'
    = yield
    = render 'layouts/shared/footer'
